{% extends "base.html" %}

{% block content %}
<div>
    <table>
        <tr>
            <td><label for="form_trening_date">Select trening date</label></td>
            <td><select name="treningdate" id="form_trening_date"></select></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" id="submit_date">Go to date</button></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" id="go_back">Back</button></td>
        </tr>
    </table>
</div>
<script src="static/js_summary.js"></script>
{% endblock %}