{% extends "base.html" %}

{% block content %}
<div>
    <form name="weightform" method="post">
    <table>
        <tr>
            <td><label for="form_bodypart">Select body part</label></td>
            <td><select name="bodypart" id="form_bodypart" required></select></td>
        </tr>
        <tr>
            <td><label for="form_exercise">Select exercise</label></td>
            <td><select name="exercise" id="form_exercise" required></select></td>
        </tr>
        <tr>
            <td><label for="form_series">Number of series:</label></td>
            <td><input type="number" id="form_series" name="qseries" min="1" max="6" required></td>
        </tr>
        <tr>
            <td><label for="form_reps">Number of reps:</label></td>
            <td><input type="number" id="form_reps" name="qreps" min="1" max="25" required></td>
        </tr>
        <tr>
            <td><label for="form_weight">Weight:</label></td>
            <td><input type="number" id="form_weight" name="qweight" min="1" max="150" required></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" id="add_new_stats">Add</button></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" id="summary_menu">Show summary menu</button></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" id="show_all">Show all</button></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" id="clear_data">Delete all storage data</button></td>
        </tr>
    </table>
    </form>
</div>
<script src="static/js_weight.js?random=<?php echo uniqid(); ?"></script>
{% endblock %}
